

.dark-mode {
  background-color: #121212; /* Couleur de fond sombre */
  color: #ffffff; /* Couleur de texte claire */
}

.dark-mode .card {
  background-color: #1e1e1e; /* Fond de carte plus foncé */
  color: #ffffff; /* Texte clair */
}

.dark-mode .nav-link {
  color: #ffffff; /* Lien en mode sombre */
}

.dark-mode .nav-link.active {
  background-color: #333333; /* Fond de l'onglet actif */
  color: #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
